.path-display {
    flex-grow: 1;
    background-color: var(--input-disabled-bg-color);
    color: var(--text-color-light);
}

.tree-view-container {
    flex-grow: 1;
    overflow: auto;
    padding: 5px;
}