.tree-node {
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}

    .tree-node:hover {
        background-color: var(--hover-bg-color);
    }

.node-expander {
    padding: 2px 5px;
    font-size: 10px;
}

.node-name.folder {
    font-weight: bold;
}

.node-name.file {
    font-weight: normal;
}

.ref-match {
    color: var(--text-color-light);
    font-style: italic;
}

.tree-node.selected {
    background-color: var(--selected-bg-color);
    color: var(--selected-text-color);
}

    .tree-node.selected .node-name,
    .tree-node.selected .node-expander span {
        color: var(--selected-text-color);
    }